$color-white: #ffffff;
$color-black: #000000;
$text-color: #242b3a;
$primary-color: #242b3a;
$grey-text-color: #8898AA;
$input-border-color: #00000029;
$btn-primary-color: #F20A41;
$negative-color: #F20A41;
$positive-color: #2DCE89;
$btn-blue: #1479FF;
$background-color: #EEF0F2;
$pdf-color: #FF2116;
$orange-color: #F58220;
$purple-color: #7332a8
